appsettings.json

.vs

SP3/bin/

SP3/obj/

SP3/Properties/

Login_CNIC&Passwords_Testing.txt

SP3/Controllers/WeatherForecastController.cs

SP3/WeatherForecast.csproj

SP3/SP3.csproj
SP3/SP3.csproj.user

SP3/appsettings.Developement.json
